:root {
  --white: #fff;
  --grey:#6f7579;
  --black:#09090C;
  --neongreen:#80FF00;
  --neonyellow:#BAFF29;
  --background: rgb(49, 49, 49);
  --foam: #DDFBD2;
}

/* html {
  overflow: hidden;
} */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--background);
}


