:root {

  /* website theme */
  --white: #fff;
  --grey:#6f7579;
  --black:#09090C;
  --neongreen:#80FF00;
  --neonyellow:#BAFF29;
  --foam: #DDFBD2;
  --background: rgb(49, 49, 49);

  /* Timer countdown indication colors */
  --red: #FF0000;
}

html {
  overflow: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--background);
}

.p-icon {
  margin: 14px 5px 10px 10;
  width: 50px;
}

.timer-style {
  background-color: transparent;
  border: none;

  right: 1.3vw;
}

.timer-style:hover {
 color: var(--neongreen);
}

.btn-custom {
  color: var(--neongreen);
}

.bg-black {
  color: var(--white);
  width: 40em;
}

.profileName {
  font-size: 12px;
}

/* div {
  overflow-y: hidden;
} */

input {
  width: 30vw;
}